INHERIT: ../base.yml
site_url: http://docs/admin

extra:
  portal_name: Admin

extra_css:
  - !ENV [OTHERS_STYLESHEETS_PORTAL_SELECTION, "../stylesheets/portal_selection.css"]
  - !ENV [OTHERS_STYLESHEETS_COLORS, "../stylesheets/colors.css"]

nav:
  - "index.md"
  - "installation.md"
  - Configuration:
      - "configuration.md"
      - "upgrading.md"
      - "ingress.md"
      - "priorityclass.md"
      - "authentication.md"
  - Platform components:
      - Core:
          - "charts/core/keystore.md"
          - "charts/core/sts.md"
          - "charts/core/templates.md"
          - "charts/core/coreauth.md"
          - Indexing:
              - "charts/core/lucene.md"
              - "charts/core/solr.md"
      - Kubernetes Resource Manager:
          - "charts/krm/resources.md"
          - "charts/krm/roles.md"
          - "charts/krm/krmauth.md"
      - Dashboard:
          - "charts/dashboard/additionalcomponents.md"
          - "charts/dashboard/dashboardauth.md"
      - Coder:
          - "charts/coder/coderauth.md"
  - External components:
      - HPC Integration:
          - "components/hpc/hcp-integration.md"
      - Kubernetes Resource Manager:
          - "components/krm/krm-custom-views.md"
