INHERIT: ../base.yml
site_url: http://docs/admin

extra:
  portal_name: Admin

extra_css:
  - !ENV [OTHERS_STYLESHEETS_PORTAL_SELECTION, "../stylesheets/portal_selection.css"]
  - !ENV [OTHERS_STYLESHEETS_COLORS, "../stylesheets/colors.css"]

nav:
  - "index.md"
  - "installation.md"
  - Configuration:
      - "configuration.md"
      - "upgrading.md"
      - "ingress.md"
  - Authentication:
      - "authentication.md"
      - "authentication/coder.md"
      - "authentication/core.md"
      - "authentication/dashboard.md"
      - "authentication/krm.md"
  - Charts:
      - Core:
          - "charts/core/keystore.md"
          - "charts/core/sts.md"
          - "charts/core/templates.md"
          - Indexing:
              - "charts/core/lucene.md"
              - "charts/core/solr.md"
      - Kubernetes Resource Manager:
          - "charts/krm/roles.md"
  - External components:
      - HPC Integration:
          - "components/hpc/hcp-integration.md"
