INHERIT: ../base.yml
site_url: http://docs/user

extra:
  current_portal: User
  other_portal: Dev
  other_portal_path: "/dev"

extra_css:
  - !ENV [USER_STYLESHEETS_PORTAL_SELECTION, "stylesheets/portal_selection.css"]
  - !ENV [USER_STYLESHEETS_COLORS, "stylesheets/colors.css"]

nav:
  - "index.md"
  - "architecture.md"
  - "quickstart.md"
  - "installation.md"
  #- "core.md"
  - Concepts and Tasks:
      - "tasks/projects.md"
      - "tasks/functions.md"
      - "tasks/workspaces.md"
      - "tasks/resources.md"
      - "tasks/data.md"
      - "tasks/models.md"
      - "tasks/kubernetes-resources.md"
      - "tasks/secrets.md"
      - "tasks/workflows.md"
    #   - "tasks/git.md"
  - Components:
      - "components/dashboard.md"
      - "components/dh_console.md"
      - "components/resourcemanager.md"
      - "components/mlrun.md"
      - "components/nuclio.md"
      - "components/kubeflow.md"
      - Interactive Workspaces:
        - "components/jupyter.md"
        - "components/dremio.md"
        - "components/sqlpad.md"
        - "components/grafana.md"
        - "components/vscode.md"
  - Scenarios:
      - Extract-Transform-Load:
          - "scenarios/etl/intro.md"
          - "scenarios/etl/collect.md"
          - "scenarios/etl/process.md"
          - "scenarios/etl/pipeline.md"
          - "scenarios/etl/expose.md"
          - "scenarios/etl/streamlit.md"
      - ML model training:
          - "scenarios/ml/intro.md"
          - "scenarios/ml/training.md"
          - "scenarios/ml/deploy.md"
      - DBT transformation:
          - "scenarios/etl-core/scenario.md"
      - Nefertem validation:
          - "scenarios/validation/scenario.md"
      - Dremio transformation:
          - "scenarios/dremio_grafana/scenario.md"
      - API via PostgREST:
          - "scenarios/postgrest/intro.md"
          - "scenarios/postgrest/data.md"
          - "scenarios/postgrest/postgrest.md"
  - Administration:
      - "admin/overview.md"
      - "admin/authentication.md"
      - "admin/configuration.md"
  - Runtimes reference:
      - Python:
          - "runtimes/python.md"
      - DBT:
          - "runtimes/dbt.md"
      - Nefertem:
          - "runtimes/nefertem.md"
      - Container:
          - "runtimes/container.md"
      - MLRun:
          - "runtimes/mlrun.md"
      - Pipelines:
          - "runtimes/kfp_pipelines.md"