INHERIT: ../base.yml
site_url: http://docs/user

extra:
  portal_name: User

extra_css:
  - !ENV [USER_STYLESHEETS_PORTAL_SELECTION, "stylesheets/portal_selection.css"]
  - !ENV [USER_STYLESHEETS_COLORS, "stylesheets/colors.css"]

nav:
  - "index.md"
  - "architecture.md"
  - "quickstart.md"
  - "installation.md"
  #- "core.md"
  - Concepts and Tasks:
      - "tasks/projects.md"
      - "tasks/functions.md"
      - "tasks/models.md"
      - "tasks/kubernetes-resources.md"
      - "tasks/workflows.md"
      - "tasks/data.md"
      - "tasks/files.md"
      - "tasks/services.md"
      - "tasks/triggers.md"
      - "tasks/workspaces.md"
      - "tasks/metrics.md"
      - "tasks/code-source.md"
      - "tasks/secrets.md"
      - "tasks/pat.md"
    #   - "tasks/git.md"
  - Components:
      - "components/dashboard.md"
      - "components/dh_console.md"
      - "components/cli.md"
      - "components/resourcemanager.md"
      #   - "components/kubeflow.md"
      - "components/kubeai.md"
      - Interactive Workspaces:
          - "components/code-toolbox.md"
          - Community Workspaces:
              - "components/dremio.md"
              - "components/sqlpad.md"
              - "components/grafana.md"
  - Scenarios and Tutorials:
      - Extract-Transform-Load:
          - "scenarios/etl/intro.md"
          - "scenarios/etl/collect.md"
          - "scenarios/etl/process.md"
          - "scenarios/etl/pipeline.md"
          - "scenarios/etl/expose.md"
          - "scenarios/etl/streamlit.md"
      - DBT transformation:
          - "scenarios/etl-core/scenario.md"
          - "scenarios/etl-core/pipeline.md"
      - "MLOps: Scikit-learn ML models":
          - "scenarios/mlsklearn/intro.md"
          - "scenarios/mlsklearn/training.md"
          - "scenarios/mlsklearn/deploy.md"
      - "MLOps: MLflow ML models":
          - "scenarios/mlmlflow/intro.md"
          - "scenarios/mlmlflow/deploy.md"
      - "MLOps: Large Language Models":
          - "scenarios/mlllm/llm.md"
          - "scenarios/mlllm/llmkubeai.md"
      - "MLOps: Speech to Text":
          - "scenarios/mlspeech/kubeaispeech.md"
      - "MLOps: Custom ML model training":
          - "scenarios/ml/intro.md"
          - "scenarios/ml/deploy.md"
      - Dremio transformation:
          - "scenarios/dremio_grafana/scenario.md"
      - API via PostgREST:
          - "scenarios/postgrest/intro.md"
          - "scenarios/postgrest/data.md"
          - "scenarios/postgrest/postgrest.md"
          - "scenarios/postgrest/apigw.md"
      - Retrieval-Augmented Generation:
          - "scenarios/rag/intro.md"
          - "scenarios/rag/llm.md"
          - "scenarios/rag/knowledge-base.md"
          - "scenarios/rag/rag.md"
          - "scenarios/rag/webui.md"
      - Whisper fine-tuning:
          - "scenarios/whisper-fine-tuning/intro.md"
          - "scenarios/whisper-fine-tuning/create-dataset.md"
          - "scenarios/whisper-fine-tuning/fine-tuning.md"
          - "scenarios/whisper-fine-tuning/convert-test.md"
      - Flower Federated Learning:
          - "scenarios/flower/flower.md"
      - Data validation:
          - "scenarios/data_validation/scenario.md"
  - Runtimes reference:
      - Overview: "runtimes/overview.md"
      - Python: "runtimes/python.md"
      - Container: "runtimes/container.md"
      - Hera Pipelines: "runtimes/hera.md"
      - "Model Serving: LLMs": "runtimes/llmserve.md"
      - "Model Serving: MLflow": "runtimes/mlflowserve.md"
      - "Model Serving: Speech to Text": "runtimes/asrserve.md"
      - "Model Serving: Scikit-learn": "runtimes/sklearnserve.md"
      - "Federated Learning": "runtimes/fl.md"
      - DBT: "runtimes/dbt.md"

  - SDK Reference:
      - "sdk/intro.md"

  - CLI Reference:
      - "cli/commands.md"
