name: update-docs
run-name: Update docs
on:
  create:
    branches-ignore:
      - gh-pages
  push:
    branches-ignore:
      - gh-pages
concurrency:
  group: update-docs
  cancel-in-progress: false
permissions:
  contents: write
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - run: pip install mkdocs-material
      - run: |
          git fetch --prune --unshallow --tags
          this_branch=${{ github.ref_name }}
          if [ "$this_branch" == "main" ]; then
            this_branch=current
          fi
          echo "Triggered by event '${{ github.event_name }}' on branch '${this_branch}'"
          export VERSIONS=$(echo `git branch -r --format='%(refname:short)'`|python versions_string.py)
          echo "Versions are: ${VERSIONS}"
          for v in ${VERSIONS//,/ }
          do
            if [ "${{ github.event_name }}" == "create" ] || [ "$v" == "$this_branch" ]; then
              echo "Deploying docs for: $v"
              if [ "$v" != "current" ]; then
                echo "Behaviour for any non-main branch"
                export DOCS_VERSION="v:$v"
                export USER_STYLESHEETS_PORTAL_SELECTION='../stylesheets/portal_selection.css'
                export USER_STYLESHEETS_COLORS='../stylesheets/colors.css'
                export OTHERS_STYLESHEETS_PORTAL_SELECTION='../../stylesheets/portal_selection.css'
                export OTHERS_STYLESHEETS_COLORS='../../stylesheets/colors.css'
                git checkout $v
                cd user && mkdocs build && cd ..
                cd dev && mkdocs build && cd ..
                cd admin && mkdocs build && cd ..
                mkdir -p ./site
                [ ! -d user/site ] || mv user/site site/$v
                [ ! -d dev/site ] || mv dev/site site/$v/dev
                [ ! -d admin/site ] || mv admin/site site/$v/admin
              else
                echo "Special behaviour for main"
                git checkout main
                cd user && mkdocs build && cd ..
                cd dev && mkdocs build && cd ..
                cd admin && mkdocs build && cd ..
                [ ! -d user/site ] || mv user/site ./site
                [ ! -d dev/site ] || mv dev/site site/dev
                [ ! -d admin/site ] || mv admin/site site/admin
              fi
            fi
          done
          git checkout gh-pages
          cp -r site/* .
          rm -r site
          git config --global user.name '${{ github.actor }}'
          git config --global user.email '${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com'
          git add --all
          git commit -m "Docs auto-generated by '${{ github.event_name }}' on branch '${{ github.ref_name }}'" --allow-empty
          git push